@import "compass";


body{
	background: url(../images/geometryDim.jpg) center;
	font-family: 'Open Sans', sans-serif;
}

.mainHead{
	text-align: center;
	margin-top: 20px;
	position: relative;
	font-weight: light;
}

.oval{
  background: url(../images/oval.svg) center;
  background-size: 300px 200px;
  height:200px;
  width:300px;
  margin:0 auto;
  //position: relative;
}

.inputs{
	width:300px;
	display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    font-size: 1.5em;
    //font-weight: bold;
    padding-left: 40px;
}
.diaA{
	margin: 0 auto;
}

.answer{
	margin-top: 20px;
	font-weight: 600;
}
.results{
	font-weight: 700;
}

.btn{
	margin-top: 20px;
	background-color: #18FF74;
	font-weight: 600;
	font-size: 1em;
	width:200px;

}
.btn:hover{
	background-color: #16E8A5;
}

.breakLine{
	width:70%;
	height: 1px;
	background-color: black;
	margin-right: 15%;
	margin-left: 15%;
	margin-top:20px;
	margin-bottom: 20px;
}





