/* line 4, ../sass/style.scss */
body {
  background: url(../images/geometryDim.jpg) center;
  font-family: 'Open Sans', sans-serif;
}

/* line 9, ../sass/style.scss */
.mainHead {
  text-align: center;
  margin-top: 20px;
  position: relative;
  font-weight: light;
}

/* line 16, ../sass/style.scss */
.oval {
  background: url(../images/oval.svg) center;
  background-size: 300px 200px;
  height: 200px;
  width: 300px;
  margin: 0 auto;
}

/* line 25, ../sass/style.scss */
.inputs {
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  font-size: 1.5em;
  padding-left: 40px;
}

/* line 35, ../sass/style.scss */
.diaA {
  margin: 0 auto;
}

/* line 39, ../sass/style.scss */
.answer {
  margin-top: 20px;
  font-weight: 600;
}

/* line 43, ../sass/style.scss */
.results {
  font-weight: 700;
}

/* line 47, ../sass/style.scss */
.btn {
  margin-top: 20px;
  background-color: #18FF74;
  font-weight: 600;
  font-size: 1em;
  width: 200px;
}

/* line 55, ../sass/style.scss */
.btn:hover {
  background-color: #16E8A5;
}

/* line 59, ../sass/style.scss */
.breakLine {
  width: 70%;
  height: 1px;
  background-color: black;
  margin-right: 15%;
  margin-left: 15%;
  margin-top: 20px;
  margin-bottom: 20px;
}
